.testimonial {
  border-radius: .8rem;
  background: $color-white;
  color: $color-greyish-blue;
  grid-area: white;
  padding: 4rem;
  position: relative;

  @media only screen and (max-width: $bp-large) {
    margin-bottom: 20px;
  }

  &--dark {
    color: $color-white;
  }
  
  &--purple {
    background: $color-violet-primary;
    grid-area: horizontal1;

    .testimonial__body,
    .testimonial__avatar {
      color: $color-violet-primary;

      .testimonial__title,
      .testimonial__description {
        color: $color-white;
      }
    }
  }
  &--grey {
    background: $color-greyish-blue;
    grid-area: grey;
  }

  &--blackish-blue {
    background: $color-blackish-blue;
    grid-area: horizontal2;
  }

  &--vertical {
    grid-area: vertical;
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;

    .img-wrapper {
      margin-right: 10px;
      width: 35px;
    }
  }
  &__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 1.4rem;
    margin-bottom: .5rem;
  }
  
  &__avatar {
    border: 2px solid currentColor;
    border-radius: 50%;
    filter: brightness(120%);
    object-fit: contain;
    width: 100%;
  }

  &__body {
    position: relative;
    z-index: 1;

    &.quoted{
      &::before {
        content: open-quote;
        position: absolute;
        z-index: -1;
        font-size: 50rem;
        line-height: 9rem;
        font-family: sans-serif;
        right: -4rem;
        top: 4rem;
        color: currentColor;
        filter: brightness(120%);

        @media only screen and (min-width: $bp-large) {
          top: 5rem;
          right: 8rem;
        }
      }
    }
  }

  &__name {
    font-size: 1.5rem;
  }

  &__position {
    font-size: 1.3rem;
    opacity: 30%;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
    @media only screen and (min-width: $bp-large) {
      font-size: 2rem;
    }
  }

  &__description {
    font-size: 1.4rem;
    letter-spacing: .4px;
    line-height: 2rem;
    opacity: 70%;
  }
}